@import "includes/_vars"

body
  margin: 0
  font-family: 'Raleway', sans-serif
  color: $font-darkgray

h1
  font-family: 'Open Sans', monospace
  font-weight: bold
  color: black
  margin: 0
  font-size: 7rem

.main
  width: 100vw
  min-height: 100vh
  position: relative
section
  padding-top: 10vh

#language
  position: absolute
  right: 5vw
  top: 5vh
  font-family: 'Open Sans', sans-serif
  button
    width: 45px
    background: none
    border: 3px solid black
    &:focus
      outline: none
  ul
    list-style: none
    margin-top: 5px
    padding: 1rem
    border: 3px solid black
    transform: translateY(-1vh)
    opacity: 0
    visibility: hidden
    transition: all .2s ease
    li
      margin: 5px 0
      &:hover
        cursor: pointer
        color: $font-mediumgray
    &.open
      transform: translateY(0)
      opacity: 1
      visibility: visible

#intro
  h1 span
    color: $pink
  p
    font-size: 4rem
    span
      &:nth-of-type(1)
        color: $gray
      &:nth-of-type(2)
        color: $blue
      &:nth-of-type(3)
        color: $green

#portfolio
  .item
    padding: 0

#about, #contact
  height: 100vh

#about
  background: black
