@import "includes/_vars"

body
  margin: 0
  font-family: 'Raleway', sans-serif
  color: black

h1, h2, h3, h4
  font-family: 'Open Sans', sans-serif
  font-weight: bold
  color: black
  margin: 0

h1
  font-size: 9rem

.main
  width: 100vw
  min-height: 100vh
  position: relative
section
  padding-top: 15vh
  h2
    font-size: 6rem
    font-weight: bold
    font-family: 'Open Sans', sans-serif
  .title
    padding-bottom: 1rem
    &::after
      content: ''
      width: 150px
      height: 6px
      background: $pink
  .summary
    padding-bottom: 8rem
    p
      font-size: 2rem
      color: $font-mediumgray
      // margin-left: 2rem

#language
  display: flex
  flex-direction: column
  align-items: flex-end
  position: absolute
  right: 5vw
  top: 5vh
  font-family: 'Open Sans', sans-serif
  button
    width: 50px
    height: 50px
    background: none
    border: 3px solid black
    &:focus
      outline: none
    &.open
      background: black
      color: white
  ul
    list-style: none
    margin-top: 1vh
    padding: 1rem 2rem
    background: white
    border: 3px solid black
    transform: translateY(-1vh)
    opacity: 0
    visibility: hidden
    transition: all .2s ease
    li
      margin: 5px 0
      &:hover
        cursor: pointer
        color: $font-mediumgray
    &.open
      transform: translateY(0)
      opacity: 1
      visibility: visible

#intro
  h1 span
    color: $pink
  p
    font-size: 4rem
    span
      &:nth-of-type(1)
        color: $gray
      &:nth-of-type(2)
        color: $blue
      &:nth-of-type(3)
        color: $green

#portfolio
  display: inline-block
  .inner
    display: inline-block
    width: 100%
    position: relative
  .item
    padding: 0
    position: relative
    &:hover
      cursor: pointer
      img
        transform: scale(1.1)
    &:nth-of-type(7n+1)
      background: $mildblue
    &:nth-of-type(7n+2)
      background: $lightwhite
    &:nth-of-type(7n+3)
      background: $offdarkgray
    &:nth-of-type(7n+4)
      background: $offwhite
    &:nth-of-type(7n+5)
      background: $offgray
    &:nth-of-type(7n+6)
      background: $ashgray
    &:nth-of-type(7n+7)
      background: $offmediumgray
    img
      border: none
      &.img-thumbnail
        background: none
    .hover-layer
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      padding: 10%
      background: $darkgray
      color: white
      position: absolute
      top: 0
      opacity: 0
      visibility: hidden
      transition: all .2s ease
      h3
        font-weight: normal
        font-size: 2rem
        color: white
        text-align: center
        // margin-bottom: 5px
      p
        font-weight: lighter
        font-size: 1.5rem
        text-align: center
        margin-bottom: -15px
    &.hovered
      .hover-layer
        opacity: .6
        visibility: visible
      img
        filter: blur(10px)

#about, #contact
  height: 100vh

#contact
  height: 60vh
  background: black
  h2
    color: white

#view
  height: 100%
  width: 100%
  background: black
  padding: 5rem
  border-top: 1px solid $offwhite
  border-bottom: 1px solid $offwhite
  position: absolute
  top: 0
  opacity: 0
  visibility: hidden
  transition: all .2s ease
  &.viewing
    opacity: 1
    visibility: visible
  .view-inner
    height: 100%
    position: relative
    .row
      height: 100%
      .inner-left
        background: white
        height: 100%
      .inner-left, .inner-right
        padding: 0
      .inner-right
        padding-left: 5rem
    h3
      color: white
    button
      padding: 0
      position: absolute
      right: -15px
      top: -15px
      background: none
      border: none
      &:focus
        outline: none
      .material-icons
        font-size: 7rem
        color: white
