@import "includes/_vars"

body
  margin: 0
  font-family: 'Work Sans', sans-serif
  color: $base-font-color

h1
  font-family: 'Source Code Pro', monospace
  color: $heading-font-color

.main
.main-hero
  width: 100vw
  height: 100vh
  .graphic-group
    position: fixed
    width: 100%
    height: 100%
    .shape
      position: fixed
      width: 60vw
      height: 60vh
      transition: transform .5s ease
      &:nth-child(1)
        right: -30%
        background: lighten($shape-color, 70%)
      &:nth-child(2)
        bottom: -15%
        right: -40%
        background: lighten($shape-color, 55%)
      &:nth-child(3)
        bottom: -35%
        left: 30%
        background: lighten($shape-color, 35%)
      &:nth-child(4)
        bottom: -30%
        left: 10%
        background: lighten($shape-color, 15%)
      &:nth-child(5)
        bottom: -40%
        left: -10%
        background: $shape-color
  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    transform: translateY(20vh)
.content
  height: 100vh
  background: white
