#about {
  .content {
    padding: 70px 50px 200px;

    @include mobile  {
      padding: 70px 10px 200px;
    }

    p {
      font-size: 3rem;
      margin: 20px;

      &.sub {
        font-size: 1.8rem;
      }
    }
  }

  .skills-header {
    border-bottom: 5px solid $blue;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 100px 400px 0;
    padding-bottom: 10px;
    text-align: center;
  }

  .profile {
    margin: 0;

    &__pic {
      border-radius: 50%;
      margin-left: auto;
      height: 200px;
      width: 200px;
      background: {
        image: url(/img/profile-pic.jpg);
        position: center;
        repeat: no-repeat;
        size: cover;
      }

      @include bp-max(sm) {
        margin: 0 auto;
        height: 160px;
        width: 160px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @include bp-max(sm) {
    .content {
      padding: 30px 10px 60px;

      p {
        font-size: 2.5rem;
        margin: 30px 0 0;
      }
    }
  }
}
