#contact {
	color: white;

	.container:not(.title) {
		position: relative;

		@include bp-max(md) {
			@include flex($direction: column);
		}

		@include bp-max(sm) {
		}
	}

	.title {
		@include bp-max(md) {
			order: 1;
			width: auto;
		}
	}

	.social-icons {
		margin-top: 100px;

		a {
			border-bottom: none;
			margin-right: 50px;
		}

		svg {
			color: white;
			height: 70px;
			width: 70px;

			&:hover {
				color: $pink;
			}
		}

		@include bp-max(md) {
			@include flex();
			order: 3;

			a {
				margin: 0 25px;
			}

			svg {
				height: 40px;
				width: 40px;
			}
		}

		@include bp-max(sm) {

		}
	}

	.email {
		font-size: 24px;
		letter-spacing: 2px;
		margin-top: 30px;

		span {
			color: lighten(black, 40%);
		}

		@include bp-max(md) {
			order: 4;
			font-size: 1.5rem;
		}
	}

	@include bp-max(md) {
		height: auto;
	}
}

#contact-form {
	color: black;
	margin-bottom: 150px;
	position: absolute;
	top: 0;
	right: 0;
	width: $form-width;

	h3 {
		color: white;
		margin-bottom: 25px;

		@include bp-max(sm) {
			font-size: 1.7rem;
		}
	}

	.form-inner {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;

		.loader {
			display: none;
			height: 64px;
			width: 64px;
			margin: 0 auto;
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
		}

		&.loading {
			.loader {
				display: block;

				.lds-ring div {
					border: 6px solid white;
					border-color: white transparent transparent transparent;
					animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
				}
			}

			button {
				background: $pink;
			}
		}
	}

	fieldset {
		font-size: 18px;
		margin-bottom: 20px;
		width: 100%;
		position: relative;
		overflow: hidden;

		label {
			color: $font-mediumgray;
			cursor: text;
			line-height: 60px;
			margin: 0;
			position: absolute;
			top: 0;
			left: $form-input-padding;
			transition: all .25s ease;
		}

		.line {
			background: $pink;
			height: 5px;
			width: 0;
			margin-left: $form-input-padding;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all .25s ease;
		}

		input, textarea{
			border: none;
			border-radius: 10px;
			padding: $form-input-padding $form-input-padding 5px $form-input-padding;
			width: 100%;

			&:focus, &:not(.empty) {
				+ label {
					font-size: 12px;
					line-height: 30px;
					top: 0;
				}

				+ label + .line {
					width: calc(100% - (#{$form-input-padding} * 2));
				}
			}

			&:focus {
				outline: none;
			}
		}

		input {
			height: 60px;
		}

		textarea {
			height: 200px;
			padding-top: 25px;

			+ label + .line {
				bottom: 6px;
			}
		}
	}

	button {
		background: none;
		border: 3px solid $pink;
		border-radius: 10px;
		color: white;
		font-size: 18px;
		height: 70px;
		padding: 15px 60px;
		transition: all .25s ease;
		width: 100%;

		&:hover {
			background: $pink;
		}

		&:focus {
			background: $pink;
			outline: none;
		}
	}

	@include bp-max(md) {
		margin: 50px 0 0;
		position: relative;
		order: 2;
	}

	@include bp-max(sm) {
		margin: 30px 0 0;
	}

	@include bp-max(xs) {
		width: $form-width-mobile;
	}
}
