#language {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 5vw;
  top: 5vh;
  font-family: 'Open Sans', sans-serif;

  button {
    width: 65px;
    height: 65px;
    background: none;
    border: 3px solid white;
    font-size: 18px;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &.open {
      background: white;
      color: black;
    }
  }

  ul {
    font-size: 16px;
    list-style: none;
    margin-top: 1vh;
    padding: 1rem 2rem;
    background: $bg-3;
    border: 3px solid white;
    transform: translateY(-1vh);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;

    li {
      margin: 15px 0;

      &:hover {
        cursor: pointer;
        color: $font-mediumgray;
      }
    }

    &.open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
