#portfolio {
  display: inline-block;
  overflow: hidden;

  .inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;

    @include bp-max(md) {
      margin-left: -2px;
      margin-right: -2px;
    }
  }

  .item-container {
    padding: 5px;
    width: 25%;

    &.view-all {
      a {
        @include flex();
        border-bottom: none;
        font-size: 200%;
        text-transform: uppercase;
        height: 100%;
        width: 100%;
        transition: all .25s ease;

        &:hover {
          background: black;
          color: white;
        }
      }
    }

    @include bp-max(md) {
      padding: 2px;
      width: 33.3333%;
    }

    @include bp-max(sm) {
      width: 50%;

      &.view-all a {
        font-size: 2rem;
      }
    }
  }

  .item {
    padding: 0;
    position: relative;
    background: $bg-3;

    &:hover {
      cursor: pointer;

      img {
        transform: scale(1.1);
      }
    }

    img {
      border: none;

      &.img-thumbnail {
        background: none;
      }
    }

    .hover-layer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 10%;
      background: $darkgray;
      color: white;
      position: absolute;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease;

      h3 {
        font-weight: normal;
        font-size: 2rem;
        color: white;
        text-align: center;
      }

      p {
        font-weight: lighter;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: -15px;
      }
    }

    &.hovered {
      .hover-layer {
        opacity: .6;
        visibility: visible;
      }

      img {
        filter: blur(10px);
      }
    }
  }
}

#portfolio-home {
  @include flex($direction: column);
  font-family: 'Crimson Text', serif;
  font-size: 50px;
  height: 100vh;
  text-align: center;

  a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 60px;
  }
}
