#skills {
	background: $bg-3;
	padding-bottom: 100px;

	@include bp-max(sm) {
		padding-bottom: 50px;
	}
}

.skills-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 60px 100px 50px;

	.skill {
		@include flex();
		background: $bg-2;
		border: 5px solid $bg-3;
		padding: 20px;
		height: 180px;
		width: 180px;
	}

	i {
		margin: 0 20px;
		font-size: 10rem;
		position: relative;

		&::after {
			content: '';
			width: 110px;
			padding: 1rem;
			border-radius: 3px;
			background: black;
			color: white;
			position: absolute;
			bottom: 0;
			left: -5px;
			right: 0;
			text-align: center;
			font-size: 1.8rem;
			font-family: 'Open Sans', sans-serif;
			transform: translateY(100%);
			opacity: 0;
			visibility: hidden;
			transition: all .2s ease;
		}

		&:hover {
			cursor: pointer;

			&::after {
				transform: translateY(120%);
				opacity: 1;
				visibility: visible;
			}
		}

		&#javascript {
			&:hover {
				color: #F0DB4F;
			}

			&::after {
				content: 'JavaScript';
			}
		}

		&#react {
			&:hover {
				color: #61DAFB;
			}

			&::after {
				content: 'React';
			}
		}

		&#angular {
			&:hover {
				color: #C4473A;
			}

			&::after {
				content: 'Angular';
			}
		}

		&#php {
			&:hover {
				color: #6681B2;
			}

			&::after {
				content: 'PHP';
			}
		}

		&#wordpress {
			&:hover {
				color: #494949;
			}

			&::after {
				content: 'WordPress';
			}
		}

		&#python {
			&:hover {
				color: #F9D861;
			}

			&::after {
				content: 'Python';
			}
		}

		&#typescript {
			&:hover {
				color: #317AC6;
			}

			&::after {
				content: 'TypeScript';
			}
		}

		&#express {
			&:hover {
				color: #4A524C;
			}

			&::after {
				content: 'Express';
			}
		}

		&#sass {
			&:hover {
				color: #CC6699;
			}

			&::after {
				content: 'Sass';
			}
		}

		&#gulp {
			&:hover {
				color: #EB4A4B;
			}

			&::after {
				content: 'Gulp';
			}
		}
	}

	@include bp-max(md) {
		padding: 60px 20px 50px;
	}

	@include bp-max(xs) {
		padding: 60px 0 50px;

		.skill {
			height: 150px;
			width: 150px;
		}

		i {
			font-size: 7rem;

			&::after {
				left: -20px;
			}
		}
	}
}
