html {
  background: black;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  margin: 0;
}

a:not(.image) {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;

  &:hover {
    color: black;
    text-decoration: none;
    border-bottom: 4px solid black;
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

section {
  padding-top: 15vh;

  &:last-of-type {
    padding: 15vh 0;
  }

  h2 {
    font-size: 6rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
  }

  .title {
    padding-bottom: 1rem;

    &::after {
      content: '';
      width: 150px;
      height: 6px;
      background: $pink;
    }
  }

  .summary {
    padding-bottom: 8rem;

    p {
      font-size: 2rem;
      color: $font-mediumgray;
      // margin-left: 2rem;
    }
  }
}

#intro {
  h1 {
    font-size: 9rem;

    @include mobile {
      font-size: 6rem;
    }

    span {
      color: $pink;
    }
  }

  p {
    font-size: 4rem;

    span {
      &:nth-of-type(1) {
        color: $blue;
      }

      &:nth-of-type(2) {
        color: $green;
      }
    }
  }
}

#contact {
  height: 80vh;
  background: black;
  position: relative;

  h2 {
    color: white;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid $pink;
  border-radius: 50%;
  border-color: $pink transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.initial-loading {
  @include flex();
  height: 100vh;
  transition: opacity .5 ease;

  .lds-ring div {
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  &.fade-out {
    opacity: 0;
  }
}
