// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Crimson+Text:400,600,700|Raleway&subset=latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// COLORS
$font-lightgray: #eeeeee;
$font-mediumgray: #bbbbbb;
$font-gray: #666666;
$font-darkgray: #333333;

//// MAIN COLORS
$pink: #ea608c;
$green: #19c6af;
$blue: #0197F6;
$gray: #9fa2b2;

//// COMPLEMENT COLORS
$mildblue: #6593aa;
$ashgray: #b9c6ae;
$offpink: #e2aebd;

$color1: #f9f9f9;
$color2: #f2f2f2;
$color3: #e9e9e9;
$color4: #e2e2e2;
$color5: #d9d9d9;
$color6: #d2d2d2;
$color7: #c9c9c9;

$bg-1: #000000;
$bg-2: #111111;
$bg-3: #141414;

$lightgray: $font-lightgray;
$darkgray: $font-darkgray;


// VALUES
$container-content-gutter: 25px;
$container-padding: 40px;

// CONTACT FORM
$form-width: 500px;
$form-width-mobile: 100%;
$form-input-padding: 20px;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
