// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway&subset=latin-ext')

// COLORS
$pink: #EA608C
$green: #19C6AF
$blue: #0197F6
$gray: #9FA2B2

$font-lightgray: #eeeeee
$font-mediumgray: #bbbbbb
$font-gray: #666666
$font-darkgray: #333333

// VALUES
$container-content-gutter: 25px
$container-padding: 40px
