// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway&subset=latin-ext')

// COLORS
$font-lightgray: #eeeeee
$font-mediumgray: #bbbbbb
$font-gray: #666666
$font-darkgray: #333333

//// MAIN COLORS
$pink: #ea608c
$green: #19c6af
$blue: #0197F6
$gray: #9fa2b2

//// COMPLEMENT COLORS
$mildblue: #6593aa
$offgray: #d4cfc9
$offmediumgray: #c6c6c6
$ashgray: #b9c6ae
$offpink: #e2aebd
$offwhite: #f2f2f2

$lightgray: $font-lightgray
$darkgray: $font-darkgray


// VALUES
$container-content-gutter: 25px
$container-padding: 40px
